{% load i18n %}

{% if show %}
<div class="dropdown xfull">
    <button class="btn btn-info dropdown-toggle" type="button" id="date-hierarchy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {% trans 'Date Hierarchy' %}
        <span class="caret"></span>
    </button>
    <div class="list-group dropdown-menu toplinks" aria-labelledby="date-hierarchy">
    {% if back %}<a class="list-group-item date-back" href="{{ back.link }}">&lsaquo; {{ back.title }}</a>{% endif %}
    {% for choice in choices %}
        <a class="list-group-item" {% if choice.link %}href="{{ choice.link }}"{% endif %}>{{ choice.title }}</a>
    {% endfor %}
    </div>
</div>
{% endif %}
